.checkout-ad {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.checkout {
    display: flex;
    background-color: white;
}

.checkout-box {
    margin: 20px;
    padding-bottom: 20px;
}

.checkout-head {
    margin-bottom: 10px;
}